

.slidebar{
    background-color: #fff;
    width: 260px;
    padding: 36px 20px;
    display: inline-block;
}
.user-info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 16px;

}
.user-name{
    font-size: 20px;
    color: black;
    text-transform: uppercase;
}
img{
    width: 38px;
    height: 36px;
    overflow: hidden;
    overflow: hidden;
    border-radius: 50%;
}
.nav-bar{
    margin-top: 28px;
    height: 500px;
    
}
.nav-item{
    margin-bottom: 10px;
    margin-right: 4px;
 
    
}
.nav-list{
    color: rgb(32, 29, 93) ;
    display: block;
    height: 44px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: flex;
    padding: 6px 14px;
    column-gap: 12px;
    letter-spacing: 0.03em;
    border: 1px solid transparent;
    transition:all 300ms ease-in-out
}
.nav-list:hover {
    border: 1px solid #04045a;
  }
  .nav-list.active {
    background-color: #04045a;
    color: #fff;
    
  }
.nav-list-icon {
    width: 22px;
  }
.nav-list-text{
    text-transform: capitalize;
    
}

