@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Bai Jamjuree", sans-serif;
   background-color: hsl(26, 10%, 86%)

}
.text-sm {
  font-size: 14px;
}
li {
  list-style-type: none;
}
a {
  color: unset;
  text-decoration: none;
  color: #fff;
}

